<div class="face-snap-card" [ngClass]="{ snapped: userHasSnapped }">
  <h1>{{ myPrice | currency: 'EUR' : 'code' : '1.0-0' }}</h1>
  <h2>{{ faceSnap.title | uppercase }}</h2>
  @if (faceSnap.location) {
    <p>Localisation : {{ faceSnap.location }}</p>
  } @else {
    <p>Localisation non spécifiée</p>
  }
  <img [src]="faceSnap.imageUrl" [alt]="faceSnap.title">
  <p>{{ faceSnap.description }}</p>
  <p>FaceSnap créée le {{ faceSnap.createdAt | date: 'd MMMM yyyy, à HH:mm' }}</p>
  <p>
    <button (click)="onSnap()">{{ snapButtonText }}</button>
    <span [ngStyle]="{ color: 'rgb(0, ' + faceSnap.snaps + ', 0)' }">🤌 {{ faceSnap.snaps }}</span>
  </p>
</div>
